{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>This is Products_DETAIL.html</h1>
{% if user.is_authenticated %}
  <h1>PRODUCT Detail View</h1>
    <ul>
        <li>{{ object.name }}</li>
    </ul>
  <div>
      <p>{{object.manufacturer}}</p>
      <p>{{object.price}}</p>
      <p>{{object.quantity}}</p>
  </div>
    <div>
        <a href="{% url 'product-delete' object.id %}">Delete PRODUCT</a>
        <a href="{% url 'product-update' object.id %}">Update PRODUCT</a>
    </div>
{% endif %}
{% endblock %}